{% extends 'statusapp/base.html' %}
{% load static %}
{% block title %}Books{% endblock %}
{% block content %}

<section>
  <div class="win-sm">
    <h1>Cari Buku:</h1>
  </div>
  <div class="win-sm d-sm-flex mb-4">
    <input type="text" name="q" class="form-control" placeholder="Cari buku...">
    <button class="btn btn-primary" id="search">Cari</button>
  </div>
</section>

<!-- Modal -->
<section>
  <div class="container-fluid">

    <button type="button" class="btn btn-likedbooks" data-toggle="modal" data-target=".bd-example-modal-lg">
      Top Liked Books
    </button>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Top Liked Books</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Harusnya ada list 5 buku dengan like terbanyak tapi fitur like-nya belum terimplementasi hehe
          </div>
          <div class="modal-footer">
            &copy; 2020 Gita Sujatmiko
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section>
  <center>
    <div class="win-sm">
      <div id="book-header" class="d-none d-md-block font-weight-bold b-light">
        <div class="row mx-0">
          <div class="col-2 p-2">Gambar</div>
          <div class="col-2 p-2">Judul Buku</div>
          <div class="col-2 p-2">Penulis</div>
          <div class="col-2 p-2">Publisher</div>
          <div class="col-2 p-2">Likes</div>
        </div>
      </div>
      <div id="books">
      </div>
    </div>
  </center>

</section>


{% endblock %}

{% block scripts %}

<script>
  var book_url = "{% url 'story9:booklist' %}?q=";
  var csrftoken = "{{ csrf_token }}";
</script>

<script src="{% static 'story9/scripts.js' %}"></script>

{% endblock %}