{% extends 'statusapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Story 10 | Signup{% endblock %}
{% block content %}

<h1>Signup to Gita's Website for Story 10</h1>

<form method="POST" class="form-group">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-likedbooks">Signup</button>
</form>

{% endblock %}