{% extends 'statusapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Status Web App{% endblock %}
{% block content %}

<div class="row justify-content-center">
    <div class="col col-md-4">
        <form class="form-depan" id="statusForm" action="{% url 'statusapp:index' %}" method="POST">
            <h2>Post a Status</h2>
            {% csrf_token %}
            {{ form|crispy }}
            <button id="status_submit" type="submit" class="btn btn-poststatus">Post Status</button>
        </form>
    </div>
    <div class="col col-md-6">

        {% for s in all_status %}
        <ul class="per-status">
            <a class="nama">{{ s.nama }}</a><a style="color: #5a7068;"> posted:</a><br>
            <a class="status">{{ s.status }}</a>
        </ul>
        {% endfor %}

    </div>
</div>




{% endblock %}