{% extends 'statusapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Status Confirmation{% endblock %}
{% block content %}

<div class="confirmation">

    <h5 class="the-status"><a class="status-text">{{ status }}</a></h5><br>
    <h4>Apakah benar Anda ingin memasang status tersebut dengan nama pemasang 
        <a style="color: #5a7068">{{ nama }}</a>?</h4>
    <br>

<form id="confirmationForm" action="{% url 'statusapp:status_confirmation' nama status %}" method="POST">
    {% csrf_token %}
    <button id="confirm" class="btn btn-primary" type="submit">Ya, benar</button>
    <a href="{% url 'statusapp:index' %}" id="cancel" name="cancel" class="btn btn-danger">Tidak</a>
</form>

</div>

{% endblock %}