{% extends 'statusapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Story 10{% endblock %}
{% block content %}

<section>
    <div class="text-center mt-5">

        <h1>Hello! This is Gita's Website for Story 10.</h1>

        {% if user.is_authenticated %}
        <h3>Selamat datang, {{ user.get_username }}.</h3>
        <a href="{% url 'story10:profile' %}" name="profile" class="btn btn-likedbooks mt-4 mr-2">Edit Profile</a>
        <a href="{% url 'story10:myprofile' %}" name="myprofile" class="btn btn-likedbooks mt-4 mr-2">My Profile</a>
        <a href="{% url 'story10:logout' %}" class="btn btn-danger mt-2">Logout</a>
        {% else %}
        <a href="{% url 'story10:login' %}" name="login" class="btn btn-likedbooks mt-2 mr-2">Login</a>
        <a href="{% url 'story10:register' %}" name="signup" class="btn btn-likedbooks mt-2">Signup</a>
        {% endif %}

    </div>
</section>

{% endblock %}