{% extends 'statusapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Story 10 | My Profile{% endblock %}
{% block content %}

<section>
    <div class="text-center mt-5">

        <h1>My Profile</h1>

        {% if user.is_authenticated %}
        <img src="{{ user.myprofile.photo }}" width=150 alt="">
        <br><br>
        
        <!-- <p>{{ user.myprofile.photo }}</p> -->
        <p>Username: {{ user.username }}</p>
        <p>First Name: {{ user.myprofile.first_name }}</p>
        <p>Last Name: {{ user.myprofile.last_name }}</p>
        <p>Gender: {{ user.myprofile.gender }}</p>
        <p>Website: <a href="{{ user.myprofile.website }}">{{ user.myprofile.website }}</a></p>

        
        {% endif %}

    </div>
</section>

{% endblock %}