{% extends 'statusapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Story 10{% endblock %}
{% block content %}

<section>
    <div class="text-center mt-5">

        <h1>Hello! This is Gita's Website for Story 10.</h1>

        {% if user.is_authenticated %}
        <form action="" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            {{ profile }}
            {{ user_profile_form|crispy }}
            <button type="submit" name="update_profile" class="btn btn-likedbooks mt-2">Update Profile</button>
        </form>
        {% endif %}

    </div>
</section>

{% endblock %}