{% extends 'statusapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Story 10 | Login{% endblock %}
{% block content %}

<h1>Login to Gita's Website for Story 10</h1>

<form method="POST" class="from-group">
    {% csrf_token %}
    {{form|crispy}}
    <p>Don't have an account? Create one <b><a href="{% url 'story10:register' %}">here</a></b></p>
    <button type="submit" class="btn btn-likedbooks">Login</button>
</form>

{% endblock %}