/* defaults */
:root {
    --global-bg-color: #f3c58f;
    --global-text-color: #133555;
    --accordion-bg-color: #133555;
    --accordion-text-color: #f3c58f;
    --accordion-hover-color: #26435f;
    --accordion-content-color: #415161;
    /* --global-link-color: yellow;
    --global-link-hover: lightyellow; */
}

[data-theme=dark] {
    --global-bg-color: #133555;
    --global-text-color: #f3c58f;
    --accordion-bg-color: #f3c58f;
    --accordion-text-color: #133555;
    --accordion-hover-color: #f3d5b3;
    --accordion-content-color: #f1e0cb;
    /* --global-link-color: yellow;
    --global-link-hover: lightyellow; */
}

* {
    transition: color .2s, background-color .2s, border-color .2s;
}

body {
    font-family: Work Sans;
    background-color: var(--global-bg-color);
    color: var(--global-text-color);
    margin-bottom: 3rem;
}

.switch {
    position: fixed;
    right: 20px;
    top: 20px;
    background: var(--global-text-color);
    color: var(--global-bg-color);
    font-size: 0.8rem;
}

.switch:hover {
    color: #5a7068;
}

h2 {
    margin: 1rem auto 2rem auto;
}

.content {
    padding: 2rem;
}

.form-depan {
    position: fixed;
}

.form-depan .btn-poststatus {
    background-color: #133555;
    color: #f3c58f;
    margin-top: 0.5rem;
    box-shadow: 1px 1px 10px 1px #8a7b69;
    transition: box-shadow 0.3s ease-in-out;
}

.form-depan .btn-poststatus:hover {
    box-shadow: 0px 0px 0px 0px;
}

.per-status {
    background-color: white;
    padding: 1.25rem;
    color: #5a7068;
    border-radius: 10px;
    text-align: justify;
    box-shadow: 0px 0px 0px 0px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.per-status:hover {
    transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    box-shadow: 1px 1px 10px 1px #b89874;
}

.nama {
    color: #133555 !important;
}

.confirmation {
    width: 600px;
    text-align: center;
    margin: 2rem auto;
}

.the-status {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    color: #5a7068;
}

.up,
.down {
    cursor: pointer;
}

.up:after {
    content: '△';
    color: var(--accordion-text-color);
}

.up:hover:after {
    content: '▲';
    color: var(--accordion-text-color);
}

.down:after {
    content: '▽';
    color: var(--accordion-text-color);
}

.down:hover:after {
    content: '▼';
    color: var(--accordion-text-color);
}

.accordions {
    width: 50%;
    margin: 0 auto;
}

.accordion {
    background-color: var(--accordion-bg-color);
    color: var(--accordion-text-color);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: var(--accordion-hover-color);
}

.panel {
    padding: 0 20px;
    margin-top: 1rem;
    background-color: var(--accordion-content-color);
    color: var(--accordion-text-color);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.up-down {
    margin-top: -2.5rem;
    display: flexbox;
    margin-right: 1rem;
    text-align: right;
}

/* Footer */
.footer {
    background-color: #a5b9b2;
    padding: 1rem;
    font-family: Work Sans;
    font-size: 1rem;
    color: #133555;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: #133555;
    margin: 0.5rem;
    transition: color .5s;
}

.footer a:hover {
    color: #f3c58f;
    text-decoration: none;
    transition: color .5s;
}

.gita {
    float: right;
    font-weight: 500;
}

.btn-likedbooks {
    background-color: #a5b9b2;
    color: #133555;
    border: 0;
    margin-bottom: 1rem;
}

.btn-likedbooks:hover {
    background-color: #133555;
    color: #f3c58f;
    border: 0;
}
