{% extends 'statusapp/base.html' %}
{% load static %}
{% block title %}Story 8{% endblock %}
{% block content %}


<!-- <div class="section">
    <h3>Section 1
        <a class="up"></a><a class="down"></a>
    </h3>
    <div>
        <p>Isi section 1</p>
    </div>
</div>

<div class="section">
    <h3>Section 2
        <a class="up"></a><a class="down"></a>
    </h3>
    <div>
        <p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at
            aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam.
            In suscipit faucibus urna. </p>
    </div>
</div>

<div class="section">
    <h3>Section 3
        <a class="up"></a><a class="down"></a>
    </h3>
    <div>
        <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in
            massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna
            quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui. </p>
        <ul>
            <li>List item one</li>
            <li>List item two</li>
            <li>List item three</li>
        </ul>
    </div>
</div>

<div class="section">
    <h3>Section 4
        <a class="up"></a><a class="down"></a>
    </h3>
    <div>
        <p>Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
            mauris vel est. </p>
        <p>Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad
            litora torquent per conubia nostra, per inceptos himenaeos. </p>
    </div>
</div> -->

<h2 style="text-align: center;">Story 8</h2>

<button class="btn switch" id="switch">Switch Theme</button>

<div class="accordions">
    <div class="section">
        <button class="accordion">Aktivitas Saat Ini</button>

        <div class="up-down">
            <a class="up"></a> <a class="down"></a>
        </div>

        <div class="panel">
            <p>
                <ul>
                    <li>Kuliah online</li>
                    <li>Melakukan hobi</li>
                    <li>#dirumahaja</li>
                </ul>
            </p>
        </div>
    </div>

    <div class="section">
        <button class="accordion">Pengalaman Organisasi</button>

        <div class="up-down">
            <a class="up"></a> <a class="down"></a>
        </div>

        <div class="panel">
            <p>
                <ul>
                    <li>Staf IT Force FUKI Fasilkom UI 2020</li>
                    <li>Staf Bidang Keakhwatan DKM Al-Furqon SMA Negeri 3 Bandung</li>
                    <li>Staf Bidang Pendidikan OSIS SMP Nassa</li>
                </ul>
            </p>
        </div>
    </div>

    <div class="section">
        <button class="accordion">Pengalaman Kepanitiaan</button>

        <div class="up-down">
            <a class="up"></a> <a class="down"></a>
        </div>

        <div class="panel">
            <p>
                <ul>
                    <li>Koordinator Publikasi dan Dokumentasi Akhwat Fest 2017</li>
                    <li>Penanggungjawab Quiz Day SMP Nassa</li>
                    <li>Ketua Pelaksana Acara Hari Kebangkitan Nasional 2014/2015</li>
                </ul>
            </p>
        </div>
    </div>

    <div class="section">
        <button class="accordion">Prestasi</button>

        <div class="up-down">
            <a class="up"></a> <a class="down"></a>
        </div>

        <div class="panel">
            <p>
                <ul>
                    <li>Peraih NEM SMP Terbaik ke-3 se-Kota Bekasi</li>
                    <li>Juara 2 Lomba Sudoku</li>
                </ul>
            </p>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="{% static 'story8/scripts.js' %}"></script>

{% endblock %}